############################################
# Verifiable Secret Sharing Configurations #
############################################
#Commitment scheme:
# - "dl_kzg": Kate at el. scheme
# - "linear": Feldman's scheme
# - "ec_linear": Elliptic curve Feldman's scheme
# - "c_ec_linear": C implementation of elliptic curve Feldman's scheme
#cobra.vss.scheme=dl_kzg
#cobra.vss.scheme=linear
#cobra.vss.scheme=ec_linear
cobra.vss.scheme=c_ec_linear

#Confidential data encryption algorithm
cobra.vss.data_encryption_algorithm=AES

#Share encryption algorithm
cobra.vss.share_encryption_algorithm=AES

############################################
################## Global ##################
############################################
#Number of threads used to process shares and commitments
cobra.share_processing_threads = 8

#Verify shares during update (write requests)? [true|false]
cobra.verify.requests=true

#Send all shares together to all the shares? [true|false]
#Warning: with 'false', a recovered replica sometime fails to receive its share
cobra.send_all_shares_together=true

###########################################
######### Recovery Configurations #########
###########################################
#Recovery state server socket port. This port will be used to send private state and port (this + 1) will be used to send public state
cobra.recovery.port=5000


############################################
########## Renewal Configurations ##########
############################################
#Renewal is active? [true|false]
cobra.renewal.active=false

#Renewal period in milliseconds, if active
cobra.renewal.period=30000

############################################
####### Communication Configurations #######
############################################
#Use encryption provided by the TLS layer? [true|false]
cobra.communication.use_tls_encryption=true